body{
    background-color: #1a1b26;
}

.discord {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30em;
  }
  
  .discord iframe {
    margin: auto;
  }
  
  
  
h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Autour One', cursive;
    color: #c0caf5;

}

h1{
    font-size: 26px;
    font-family: 'Autour One', cursive;
text-align: center;
    color: #c0caf5;
}

h1 img,
h2 img {
    vertical-align: text-bottom;
  margin-top: 4px;
}

.uu{

    text-align: center;
    font-size: 30px;
    font-family: 'Autour One', cursive;
    color: #c0caf5;
}